<div class="container">
  <h3>Admin Dashboard</h3>
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">View Orders</a>
    <%= link_to "Update Account", edit_user_path(current_user), class: "nav-item nav-link" %>
    <%= link_to "My Stores", user_stores_path, class: "nav-item nav-link" %>
    <%= link_to "My Items", admin_items_path, class: "nav-item nav-link" %>
    <%= link_to "Manage Employees", admin_employees_path, class: "nav-item nav-link" %>
    <%= link_to "View Analytics", admin_analytics_path, class: "nav-item nav-link" %>
    <%= link_to "All Users", platform_users_path, class: "nav-item nav-link" %>
    <%= link_to "All Stores", admin_stores_path, class: "nav-item nav-link" %>
    <%= link_to "All Orders", platform_orders_path, class: "nav-item nav-link" %>
    </div>
  </nav>